fastapi
uvicorn
langchain
langchain-community
langchain-docling
fastapi
uvicorn
langchain
langchain-community
langchain-docling
langchain-huggingface
langchain-qdrant
langchain-groq
qdrant-client
sentence-transformers
docling-core
pypdf
docx2txt
python-dotenv
